flow.json
[{"id":"9276e4aa.11cc3","type":"tab","label":"admin tab","disabled":false,"info":""},{"id":"f9ad4eea.4d78f","type":"tab","label":"Production user flow","disabled":true,"info":""},{"id":"b28d293d.04b7e","type":"tab","label":"Race setup","disabled":true,"info":""},{"id":"236f6379.6cfb3c","type":"tab","label":"Race tab","disabled":false,"info":""},{"id":"902bc536.49f8c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pi-Racer Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d6eb826a.a44cd","type":"sqlitedb","z":"","db":"/home/pi/nodered.db","mode":"RWC"},{"id":"abe72572.b21fa","type":"ui_tab","z":"","name":"Racers Management","icon":"fa-users","order":3,"disabled":false,"hidden":false},{"id":"2254b7f8.98c1b8","type":"ui_group","z":"","name":"List","tab":"abe72572.b21fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5148155.12b498","type":"ui_group","z":"","name":"Modify","tab":"abe72572.b21fa","order":1,"disp":false,"width":"6","collapse":false},{"id":"c8b8020a.d2515","type":"ui_link","z":"","name":"pi-racer website","link":"https://pi-racer.com","icon":"fa-globe","target":"newtab","order":4},{"id":"fd3c7523.b6fea8","type":"ui_group","z":"","name":"Status","tab":"abe72572.b21fa","disp":true,"width":"6","collapse":false},{"id":"383a6f03.914b38","type":"ui_tab","z":"","name":"Race Management","icon":"fa-car","order":2,"disabled":false,"hidden":false},{"id":"a838c9a9.f9ea48","type":"ui_group","z":"","name":"Default","tab":"383a6f03.914b38","disp":false,"width":"6","collapse":false},{"id":"f2293c25.8971","type":"ui_group","z":"","name":"Race List","tab":"383a6f03.914b38","disp":true,"width":"6","collapse":false},{"id":"3dcd707d.0cc3e8","type":"ui_tab","z":"","name":"Race Day","icon":"fa-flag-checkered","order":1,"disabled":false,"hidden":false},{"id":"6a859bdf.3fba8c","type":"ui_group","z":"","name":"sim temp","tab":"3dcd707d.0cc3e8","disp":true,"width":"6","collapse":false},{"id":"ee89c1bd.06299","type":"ui_group","z":"","name":"sim temp 2","tab":"3dcd707d.0cc3e8","disp":true,"width":"6","collapse":false},{"id":"c81f98cf.42a8b8","type":"ui_link","z":"","name":"github page","link":"https://github.com/pi-racer/nodered","icon":"open_in_browser","target":"newtab","order":5},{"id":"fb2ef2b4.5ca15","type":"sqlite","z":"f9ad4eea.4d78f","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS INSERT","x":1050,"y":180,"wires":[["9a31a8af.8d1578"]]},{"id":"1900f723.815e79","type":"function","z":"f9ad4eea.4d78f","name":"INSERT","func":"\nmsg.topic = 'INSERT INTO \"main\".\"RACERS\" VALUES (NULL,\"'+msg.payload.NAME+'\",'+msg.payload.AGE+',\"'+msg.payload.CAR+'\",'+msg.payload.CARWEIGHT+',\"<b>'+msg.payload.NAME+'</b>\",\"Age = '+msg.payload.AGE+' Car = '+msg.payload.CAR+' Car Weight = '+msg.payload.CARWEIGHT+'\");'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["fb2ef2b4.5ca15"]]},{"id":"9868692.ee0c098","type":"function","z":"f9ad4eea.4d78f","name":"temp info","func":"if (msg.topic == \"name\"){\n    flow.set(\"temp_name\",msg.payload)\n}\n\nif (msg.topic == \"age\"){\n    flow.set(\"temp_age\",msg.payload)\n}\n\nif (msg.topic == \"carname\"){\n    flow.set(\"temp_carname\",msg.payload)\n}\n\nif (msg.topic == \"carweight\"){\n    flow.set(\"temp_carwhight\",msg.payload)\n}\n\nif (msg.topic == \"save\"){\n    \n    NAME = flow.get(\"temp_name\")\n    \n    AGE = flow.get(\"temp_age\")\n    \n    CAR = flow.get(\"temp_carname\")\n    \n    CARWEIGHT = flow.get(\"temp_carwhight\")\n    \n    msg.payload = {\"NAME\":NAME,\"AGE\":AGE,\"CAR\":CAR,\"CARWEIGHT\":CARWEIGHT} \n    return msg;\n    \n}\n","outputs":2,"noerr":0,"x":720,"y":180,"wires":[["1900f723.815e79"],[]]},{"id":"43eaea30.069c8c","type":"ui_text_input","z":"f9ad4eea.4d78f","name":"","label":"Name","tooltip":"","group":"f5148155.12b498","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"name","x":530,"y":180,"wires":[["9868692.ee0c098"]]},{"id":"ce01a983.7b05a","type":"ui_text_input","z":"f9ad4eea.4d78f","name":"","label":"Age","tooltip":"","group":"f5148155.12b498","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"age","x":530,"y":220,"wires":[["9868692.ee0c098"]]},{"id":"91a33ed4.bbbb28","type":"ui_text_input","z":"f9ad4eea.4d78f","name":"","label":"Car Name","tooltip":"","group":"f5148155.12b498","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"carname","x":520,"y":260,"wires":[["9868692.ee0c098"]]},{"id":"53001b0c.471144","type":"ui_text_input","z":"f9ad4eea.4d78f","name":"","label":"Car Weight","tooltip":"","group":"f5148155.12b498","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"carweight","x":510,"y":300,"wires":[["9868692.ee0c098"]]},{"id":"a0538e4.cacb7f","type":"sqlite","z":"f9ad4eea.4d78f","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS SELECT","x":1470,"y":180,"wires":[["2ba3eacd.26e5ce","a78af2fe.055448"]]},{"id":"9a31a8af.8d1578","type":"function","z":"f9ad4eea.4d78f","name":"SELECT","func":"\nmsg.topic = 'SELECT * FROM RACERS ORDER BY NAME ASC;'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":180,"wires":[["a0538e4.cacb7f","eecb0b7d.981c6"]]},{"id":"e67c1d46.574f2","type":"inject","z":"f9ad4eea.4d78f","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":1070,"y":120,"wires":[["9a31a8af.8d1578"]]},{"id":"2ba3eacd.26e5ce","type":"ui_list","z":"f9ad4eea.4d78f","group":"2254b7f8.98c1b8","name":"","order":4,"width":"6","height":"24","lineType":"two","actionType":"click","allowHTML":true,"x":1690,"y":180,"wires":[["2e6714ec.92349c"]]},{"id":"309b842c.02a2f4","type":"ui_button","z":"f9ad4eea.4d78f","name":"","group":"f5148155.12b498","order":6,"width":"2","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"save","x":530,"y":340,"wires":[["92a436df.64c5e","6d11c2a3.0710c4"]]},{"id":"b8f84d72.14e22","type":"ui_button","z":"f9ad4eea.4d78f","name":"","group":"f5148155.12b498","order":7,"width":"2","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"cancel","x":100,"y":140,"wires":[["7bce2a6f.a292bc"]]},{"id":"7277dc7e.7dacb4","type":"ui_button","z":"f9ad4eea.4d78f","name":"","group":"f5148155.12b498","order":8,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_name","payloadType":"flow","topic":"Are you sure that you want to delete Racer?","x":530,"y":380,"wires":[["b1afd19e.1d4df8"]]},{"id":"7bce2a6f.a292bc","type":"function","z":"f9ad4eea.4d78f","name":"clear","func":"if (msg.topic == \"cancel\"){\n    flow.set(\"newormod\",\"1\")\n   \n    msg.payload = \"\"\n}\nif (msg.topic == \"save\"){\n\n    msg.payload = \"\"\n}\n\nmsg.payload = \"\"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["43eaea30.069c8c","ce01a983.7b05a","91a33ed4.bbbb28","53001b0c.471144"]]},{"id":"485560ae.fc6a68","type":"link in","z":"f9ad4eea.4d78f","name":"clear","links":["df2c642.4a26c18","92a436df.64c5e"],"x":115,"y":80,"wires":[["7bce2a6f.a292bc"]]},{"id":"92a436df.64c5e","type":"link out","z":"f9ad4eea.4d78f","name":"","links":["485560ae.fc6a68"],"x":755,"y":360,"wires":[]},{"id":"11f115c8.31825a","type":"ui_text","z":"f9ad4eea.4d78f","group":"f5148155.12b498","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":530,"y":420,"wires":[]},{"id":"2e6714ec.92349c","type":"link out","z":"f9ad4eea.4d78f","name":"list output","links":["de6cee78.6146d"],"x":1795,"y":180,"wires":[]},{"id":"de6cee78.6146d","type":"link in","z":"f9ad4eea.4d78f","name":"item modefi","links":["2e6714ec.92349c"],"x":95,"y":320,"wires":[["9f6a5aea.ec04b8"]]},{"id":"9f6a5aea.ec04b8","type":"function","z":"f9ad4eea.4d78f","name":"mod","func":"flow.set(\"newormod\",\"0\")\nflow.set(\"workingID\",msg.payload.ID)\n\nname = {payload:msg.payload.NAME}\n\nflow.set(\"temp_name\",msg.payload.NAME)\n\n\nage = {payload:msg.payload.AGE}\n\nflow.set(\"temp_age\",msg.payload.AGE)\n\n\ncar = {payload:msg.payload.CAR}\n\nflow.set(\"temp_carname\",msg.payload.CAR)\n\n\ncarw = {payload:msg.payload.CARWEIGHT}\n\nflow.set(\"temp_carwhight\",msg.payload.CARWEIGHT)\n\nmod ={payload:\"Modify Racer -- \"+ msg.payload.NAME}\n\n\nreturn [name, age, car, carw, mod];","outputs":5,"noerr":0,"x":190,"y":320,"wires":[["43eaea30.069c8c"],["ce01a983.7b05a"],["91a33ed4.bbbb28"],["53001b0c.471144"],["11f115c8.31825a"]]},{"id":"83ec3228.2b5898","type":"inject","z":"f9ad4eea.4d78f","name":"","topic":"","payload":"Add New Racer","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":500,"wires":[["fe2661a3.f49d2"]]},{"id":"6d11c2a3.0710c4","type":"function","z":"f9ad4eea.4d78f","name":"new or mod","func":"nom=flow.get(\"newormod\")\n\nif (nom == \"1\"){\n    return [msg,null];\n}\nif (nom == \"0\"){\n   \n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":690,"y":320,"wires":[["9868692.ee0c098"],["1fdbb491.46fd43"]]},{"id":"fe2661a3.f49d2","type":"function","z":"f9ad4eea.4d78f","name":"","func":"flow.set(\"newormod\",\"1\")\n\nmsg.payload = \"Add New Racer\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["11f115c8.31825a"]]},{"id":"6d975a6a.8c410c","type":"sqlite","z":"f9ad4eea.4d78f","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS UPDATE","x":1050,"y":340,"wires":[["9a31a8af.8d1578"]]},{"id":"1fdbb491.46fd43","type":"function","z":"f9ad4eea.4d78f","name":"UPDATE","func":"    NAME = flow.get(\"temp_name\")\n    \n    AGE = flow.get(\"temp_age\")\n    \n    CAR = flow.get(\"temp_carname\")\n    \n    CARWEIGHT = flow.get(\"temp_carwhight\")\n    \n    ID = flow.get(\"workingID\")\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"NAME\"=\"'+NAME+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"AGE\"=\"'+AGE+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"CAR\"=\"'+CAR+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"CARWEIGHT\"=\"'+CARWEIGHT+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"title\"=\"<b>'+NAME+'</b>\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"description\"=\"Age = '+AGE+' Car = '+CAR+' Car Weight = '+CARWEIGHT+'\" WHERE \"_rowid_\"='+ID+';'\n    \n    \n    \n    \n  \n    flow.set(\"newormod\",\"1\")\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["6d975a6a.8c410c"]]},{"id":"a78af2fe.055448","type":"link out","z":"f9ad4eea.4d78f","name":"list update","links":["fa690b53.4a56b8"],"x":1615,"y":120,"wires":[]},{"id":"fa690b53.4a56b8","type":"link in","z":"f9ad4eea.4d78f","name":"reset","links":["a78af2fe.055448","df2c642.4a26c18"],"x":215,"y":440,"wires":[["fe2661a3.f49d2"]]},{"id":"eadb4c4a.827758","type":"function","z":"f9ad4eea.4d78f","name":"DELETE","func":"if(msg.payload ==\"OK\"){\n    ID = flow.get(\"workingID\")\n    \n    msg.topic = 'DELETE FROM \"main\".\"RACERS\" WHERE _rowid_ IN ('+ID+');'\n    \n    flow.set(\"newormod\",\"1\")\n    return [msg,null];\n}\n\nif(msg.payload ==\"Cancel\"){\n    msg.payload = \"1\"\n    msg.topic = \"cancel\"\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":860,"y":420,"wires":[["691604a9.19cbdc","df2c642.4a26c18"],["df2c642.4a26c18"]]},{"id":"691604a9.19cbdc","type":"sqlite","z":"f9ad4eea.4d78f","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS DELETE ","x":1070,"y":420,"wires":[["9a31a8af.8d1578"]]},{"id":"61e783f3.acdc84","type":"ui_toast","z":"f9ad4eea.4d78f","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":790,"y":500,"wires":[["eadb4c4a.827758"]]},{"id":"df2c642.4a26c18","type":"link out","z":"f9ad4eea.4d78f","name":"del cancel","links":["485560ae.fc6a68","fa690b53.4a56b8"],"x":1015,"y":480,"wires":[]},{"id":"b1afd19e.1d4df8","type":"function","z":"f9ad4eea.4d78f","name":"","func":"if (flow.get(\"newormod\")==\"0\"){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["61e783f3.acdc84"]]},{"id":"116b8ddd.abd07a","type":"sqlite","z":"9276e4aa.11cc3","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"Create table","x":570,"y":120,"wires":[["6ee51a4c.55e6d4"]]},{"id":"984d2cb3.af7b9","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"RACERS\" ","topic":"CREATE TABLE \"RACERS\" ( \t\"ID\"\tINTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, \t\"NAME\"\tTEXT NOT NULL UNIQUE, \t\"AGE\"\tINTEGER, \t\"CAR\"\tTEXT, \t\"CARWEIGHT\"\tINTEGER, \t\"title\"\tTEXT, \t\"description\"\tTEXT )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":240,"wires":[["116b8ddd.abd07a"]]},{"id":"eecb0b7d.981c6","type":"sqlite","z":"f9ad4eea.4d78f","mydb":"d6eb826a.a44cd","sqlquery":"fixed","sql":"SELECT COUNT(*) FROM RACERS","name":"SELECT COUNT(*) FROM RACERS","x":1520,"y":240,"wires":[["d994563f.f09a3"]]},{"id":"d994563f.f09a3","type":"function","z":"f9ad4eea.4d78f","name":"count","func":"msg.payload = msg.payload[0][\"COUNT(*)\"]\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":240,"wires":[["2aaeac53.8ac664"]]},{"id":"2aaeac53.8ac664","type":"ui_text","z":"f9ad4eea.4d78f","group":"fd3c7523.b6fea8","order":0,"width":0,"height":0,"name":"","label":"Number of racers","format":"{{msg.payload}}","layout":"row-center","x":1930,"y":240,"wires":[]},{"id":"ec03780d.1a95f","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"HEAT\"","topic":"CREATE TABLE \"HEAT\" ( \t\"TIMESTAMP\"\tINTEGER NOT NULL UNIQUE, \t\"RACERNAME\"\tINTEGER, \t\"HEATENUMBER\"\tINTEGER, \t\"HEATTIME\"\tINTEGER, \t\"title\"\tTEXT, \t\"description\"\tTEXT, \tPRIMARY KEY(\"TIMESTAMP\") )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["116b8ddd.abd07a"]]},{"id":"53bd8db6.abef94","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"RACE\" ","topic":"CREATE TABLE \"RACE\" ( \t\"ID\"\tINTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, \t\"NAME\"\tTEXT NOT NULL, \t\"DATE\"\tNUMERIC, \t\"LOCATION\"\tTEXT, \t\"title\"\tTEXT, \t\"description\"\tTEXT )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":320,"wires":[["116b8ddd.abd07a"]]},{"id":"6ee51a4c.55e6d4","type":"debug","z":"9276e4aa.11cc3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"9a377c9f.407ab","type":"function","z":"b28d293d.04b7e","name":"temp info","func":"if (msg.topic == \"name\"){\n    flow.set(\"temp_name\",msg.payload)\n}\n\nif (msg.topic == \"Date\"){\n    flow.set(\"temp_date\",msg.payload)\n}\n\nif (msg.topic == \"Location\"){\n    flow.set(\"temp_location\",msg.payload)\n}\n\nif (msg.topic == \"lanes\"){\n    flow.set(\"temp_lanes\",msg.payload)\n}\n\nif (msg.topic == \"save\"){\n    \n    NAME = flow.get(\"temp_name\")\n    \n    DATE = flow.get(\"temp_date\")\n    \n    LOCATION = flow.get(\"temp_location\")\n    \n    LANES = flow.get(\"temp_lanes\")\n    \n//    msg.payload = {\"NAME\":NAME,\"AGE\":AGE,\"CAR\":CAR,\"CARWEIGHT\":CARWEIGHT} \n    msg.topic = 'INSERT INTO \"main\".\"RACE\" VALUES (NULL,\"'+NAME+'\",'+DATE+',\"'+LOCATION+'\",'+LANES+',\"<b>'+NAME+'</b>\",\"'+NAME+LOCATION+'\");'\n\n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["3edc43f2.9ba164"]]},{"id":"51223b3c.4e6944","type":"ui_text_input","z":"b28d293d.04b7e","name":"","label":"Name","tooltip":"","group":"a838c9a9.f9ea48","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"name","x":310,"y":120,"wires":[["9a377c9f.407ab"]]},{"id":"7354a6c.d460158","type":"ui_text_input","z":"b28d293d.04b7e","name":"","label":"Location","tooltip":"","group":"a838c9a9.f9ea48","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"Location","x":300,"y":200,"wires":[["9a377c9f.407ab"]]},{"id":"9b94a9bd.e1eb98","type":"ui_button","z":"b28d293d.04b7e","name":"","group":"a838c9a9.f9ea48","order":5,"width":"2","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"save","x":310,"y":280,"wires":[["9a377c9f.407ab"]]},{"id":"29633965.30b216","type":"ui_button","z":"b28d293d.04b7e","name":"","group":"a838c9a9.f9ea48","order":6,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_name","payloadType":"flow","topic":"Are you sure that you want to delete Racer?","x":310,"y":320,"wires":[[]]},{"id":"9ba14a72.d5539","type":"ui_date_picker","z":"b28d293d.04b7e","name":"","label":"Race Day","group":"a838c9a9.f9ea48","order":2,"width":0,"height":0,"passthru":true,"topic":"Date","x":300,"y":160,"wires":[["9a377c9f.407ab"]]},{"id":"4784df6e.cc9548","type":"ui_numeric","z":"b28d293d.04b7e","name":"","label":"Number of lanes","tooltip":"","group":"a838c9a9.f9ea48","order":4,"width":0,"height":0,"passthru":true,"topic":"lanes","format":"{{value}}","min":"1","max":10,"step":1,"x":280,"y":240,"wires":[["9a377c9f.407ab"]]},{"id":"3edc43f2.9ba164","type":"sqlite","z":"b28d293d.04b7e","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACE INSERT","x":740,"y":200,"wires":[["30f88ff2.5bb7d8"]]},{"id":"30f88ff2.5bb7d8","type":"function","z":"b28d293d.04b7e","name":"SELECT","func":"\nmsg.topic = 'SELECT * FROM RACE ORDER BY DATE ASC;'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":200,"wires":[["1ca298f8.929087"]]},{"id":"1ca298f8.929087","type":"sqlite","z":"b28d293d.04b7e","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACE SELECT","x":1120,"y":200,"wires":[["f48f722c.42e14"]]},{"id":"f48f722c.42e14","type":"ui_list","z":"b28d293d.04b7e","group":"f2293c25.8971","name":"","order":0,"width":0,"height":0,"lineType":"two","actionType":"click","allowHTML":true,"x":1310,"y":200,"wires":[[]]},{"id":"61e1f2d4.7ff2ec","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":1,"width":0,"height":0,"passthru":false,"label":"start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"start","x":230,"y":140,"wires":[["e93d4721.93d618"]]},{"id":"8e1d3cf9.5e7c28","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":2,"width":0,"height":0,"passthru":false,"label":"lane 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_1","x":230,"y":180,"wires":[["e93d4721.93d618"]]},{"id":"784b7663.8da868","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":3,"width":0,"height":0,"passthru":false,"label":"lane 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_2","x":230,"y":220,"wires":[["e93d4721.93d618"]]},{"id":"57dd126e.fada24","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":4,"width":0,"height":0,"passthru":false,"label":"lane 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_3","x":230,"y":260,"wires":[["e93d4721.93d618"]]},{"id":"91cd2b64.985e7","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":5,"width":0,"height":0,"passthru":false,"label":"lane 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_4","x":230,"y":300,"wires":[["e93d4721.93d618"]]},{"id":"e93d4721.93d618","type":"function","z":"236f6379.6cfb3c","name":"","func":"if (msg.topic == \"start\"){\n    flow.set(\"temp_start\",msg.payload)\n}\n\nif (msg.topic == \"lane_1\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_1\",msg.payload)\n    return [msg,null,null,null];\n}\n\nif (msg.topic == \"lane_2\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_2\",msg.payload)\n    return [null,msg,null,null];\n}\n\nif (msg.topic == \"lane_3\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_3\",msg.payload)\n    return [null,null,msg,null];\n}\n\nif (msg.topic == \"lane_4\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_4\",msg.payload)\n    return [null,null,null,msg];\n}\n","outputs":4,"noerr":0,"x":500,"y":200,"wires":[["92c94d36.a83968"],["8d8064b8.3595a"],["1553fed0.79fc81"],["cddc4b0b.a725"]]},{"id":"92c94d36.a83968","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 1","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":180,"wires":[]},{"id":"8d8064b8.3595a","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 2","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"1553fed0.79fc81","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 3","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"cddc4b0b.a725","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 4","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]}]