flow.json
[{"id":"9276e4aa.11cc3","type":"tab","label":"admin tab","disabled":false,"info":""},{"id":"5e186c1f.c45f14","type":"tab","label":"User management","disabled":false,"info":""},{"id":"b28d293d.04b7e","type":"tab","label":"Race setup","disabled":true,"info":""},{"id":"236f6379.6cfb3c","type":"tab","label":"Race tab","disabled":false,"info":""},{"id":"902bc536.49f8c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pi-Racer Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d6eb826a.a44cd","type":"sqlitedb","z":"","db":"/home/pi/nodered.db","mode":"RWC"},{"id":"abe72572.b21fa","type":"ui_tab","z":"","name":"Racers Management","icon":"fa-users","order":1,"disabled":false,"hidden":false},{"id":"2254b7f8.98c1b8","type":"ui_group","z":"","name":"List","tab":"abe72572.b21fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5148155.12b498","type":"ui_group","z":"","name":"Modify","tab":"abe72572.b21fa","order":1,"disp":false,"width":"6","collapse":false},{"id":"c8b8020a.d2515","type":"ui_link","z":"","name":"pi-racer website","link":"https://pi-racer.com","icon":"fa-globe","target":"newtab","order":4},{"id":"fd3c7523.b6fea8","type":"ui_group","z":"","name":"Status","tab":"abe72572.b21fa","disp":true,"width":"6","collapse":false},{"id":"383a6f03.914b38","type":"ui_tab","z":"","name":"Race Management","icon":"fa-car","order":3,"disabled":false,"hidden":false},{"id":"a838c9a9.f9ea48","type":"ui_group","z":"","name":"Default","tab":"383a6f03.914b38","disp":false,"width":"6","collapse":false},{"id":"f2293c25.8971","type":"ui_group","z":"","name":"Race List","tab":"383a6f03.914b38","disp":true,"width":"6","collapse":false},{"id":"3dcd707d.0cc3e8","type":"ui_tab","z":"","name":"Race Day","icon":"fa-flag-checkered","order":2,"disabled":false,"hidden":false},{"id":"6a859bdf.3fba8c","type":"ui_group","z":"","name":"sim temp","tab":"3dcd707d.0cc3e8","disp":true,"width":"6","collapse":false},{"id":"ee89c1bd.06299","type":"ui_group","z":"","name":"sim temp 2","tab":"3dcd707d.0cc3e8","disp":true,"width":"6","collapse":false},{"id":"c81f98cf.42a8b8","type":"ui_link","z":"","name":"github page","link":"https://github.com/pi-racer/nodered","icon":"open_in_browser","target":"newtab","order":5},{"id":"116b8ddd.abd07a","type":"sqlite","z":"9276e4aa.11cc3","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"Create table","x":570,"y":120,"wires":[["6ee51a4c.55e6d4"]]},{"id":"984d2cb3.af7b9","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"RACERS\" ","topic":"CREATE TABLE \"RACERS\" ( \t\"ID\"\tINTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, \t\"NAME\"\tTEXT NOT NULL UNIQUE, \t\"AGE\"\tINTEGER, \t\"CARNUM\"\tINTEGER NOT NULL UNIQUE, \t\"GROUP\"\tTEXT, \t\"SUBGROUP\"\tINTEGER, \t\"POLLPOS\"\tINTEGER, \t\"title\"\tTEXT, \t\"description\"\tTEXT )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["116b8ddd.abd07a"]]},{"id":"ec03780d.1a95f","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"TIMES\"","topic":"CREATE TABLE \"TIMES\" ( \t\"ID\"\tINTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, \t\"CARNUM\"\tINTEGER NOT NULL, \t\"HEATENUMBER\"\tINTEGER NOT NULL, \t\"TIME\"\tINTEGER NOT NULL, \t\"title\"\tTEXT, \t\"description\"\tTEXT, \tFOREIGN KEY(\"CARNUM\") REFERENCES \"RACERS\"(\"CARNUM\") )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":380,"wires":[["116b8ddd.abd07a"]]},{"id":"53bd8db6.abef94","type":"inject","z":"9276e4aa.11cc3","name":"CREATE TABLE \"RACE\" ","topic":"CREATE TABLE \"RACE\" ( \t\"ID\"\tINTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, \t\"NAME\"\tTEXT NOT NULL, \t\"DATE\"\tNUMERIC, \t\"LOCATION\"\tTEXT, \t\"title\"\tTEXT, \t\"description\"\tTEXT )","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":440,"wires":[["116b8ddd.abd07a"]]},{"id":"6ee51a4c.55e6d4","type":"debug","z":"9276e4aa.11cc3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"9a377c9f.407ab","type":"function","z":"b28d293d.04b7e","name":"temp info","func":"if (msg.topic == \"name\"){\n    flow.set(\"temp_name\",msg.payload)\n}\n\nif (msg.topic == \"Date\"){\n    flow.set(\"temp_date\",msg.payload)\n}\n\nif (msg.topic == \"Location\"){\n    flow.set(\"temp_location\",msg.payload)\n}\n\nif (msg.topic == \"lanes\"){\n    flow.set(\"temp_lanes\",msg.payload)\n}\n\nif (msg.topic == \"save\"){\n    \n    NAME = flow.get(\"temp_name\")\n    \n    DATE = flow.get(\"temp_date\")\n    \n    LOCATION = flow.get(\"temp_location\")\n    \n    LANES = flow.get(\"temp_lanes\")\n    \n//    msg.payload = {\"NAME\":NAME,\"AGE\":AGE,\"CAR\":CAR,\"CARWEIGHT\":CARWEIGHT} \n    msg.topic = 'INSERT INTO \"main\".\"RACE\" VALUES (NULL,\"'+NAME+'\",'+DATE+',\"'+LOCATION+'\",'+LANES+',\"<b>'+NAME+'</b>\",\"'+NAME+LOCATION+'\");'\n\n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["3edc43f2.9ba164"]]},{"id":"51223b3c.4e6944","type":"ui_text_input","z":"b28d293d.04b7e","name":"","label":"Name","tooltip":"","group":"a838c9a9.f9ea48","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"name","x":310,"y":120,"wires":[["9a377c9f.407ab"]]},{"id":"7354a6c.d460158","type":"ui_text_input","z":"b28d293d.04b7e","name":"","label":"Location","tooltip":"","group":"a838c9a9.f9ea48","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"Location","x":300,"y":200,"wires":[["9a377c9f.407ab"]]},{"id":"9b94a9bd.e1eb98","type":"ui_button","z":"b28d293d.04b7e","name":"","group":"a838c9a9.f9ea48","order":5,"width":"2","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"save","x":310,"y":280,"wires":[["9a377c9f.407ab"]]},{"id":"29633965.30b216","type":"ui_button","z":"b28d293d.04b7e","name":"","group":"a838c9a9.f9ea48","order":6,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_name","payloadType":"flow","topic":"Are you sure that you want to delete Racer?","x":310,"y":320,"wires":[[]]},{"id":"9ba14a72.d5539","type":"ui_date_picker","z":"b28d293d.04b7e","name":"","label":"Race Day","group":"a838c9a9.f9ea48","order":2,"width":0,"height":0,"passthru":true,"topic":"Date","x":300,"y":160,"wires":[["9a377c9f.407ab"]]},{"id":"4784df6e.cc9548","type":"ui_numeric","z":"b28d293d.04b7e","name":"","label":"Number of lanes","tooltip":"","group":"a838c9a9.f9ea48","order":4,"width":0,"height":0,"passthru":true,"topic":"lanes","format":"{{value}}","min":"1","max":10,"step":1,"x":280,"y":240,"wires":[["9a377c9f.407ab"]]},{"id":"3edc43f2.9ba164","type":"sqlite","z":"b28d293d.04b7e","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACE INSERT","x":740,"y":200,"wires":[["30f88ff2.5bb7d8"]]},{"id":"30f88ff2.5bb7d8","type":"function","z":"b28d293d.04b7e","name":"SELECT","func":"\nmsg.topic = 'SELECT * FROM RACE ORDER BY DATE ASC;'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":200,"wires":[["1ca298f8.929087"]]},{"id":"1ca298f8.929087","type":"sqlite","z":"b28d293d.04b7e","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACE SELECT","x":1120,"y":200,"wires":[["f48f722c.42e14"]]},{"id":"f48f722c.42e14","type":"ui_list","z":"b28d293d.04b7e","group":"f2293c25.8971","name":"","order":0,"width":0,"height":0,"lineType":"two","actionType":"click","allowHTML":true,"x":1310,"y":200,"wires":[[]]},{"id":"61e1f2d4.7ff2ec","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":1,"width":0,"height":0,"passthru":false,"label":"start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"start","x":230,"y":140,"wires":[["e93d4721.93d618"]]},{"id":"8e1d3cf9.5e7c28","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":2,"width":0,"height":0,"passthru":false,"label":"lane 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_1","x":230,"y":180,"wires":[["e93d4721.93d618"]]},{"id":"784b7663.8da868","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":3,"width":0,"height":0,"passthru":false,"label":"lane 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_2","x":230,"y":220,"wires":[["e93d4721.93d618"]]},{"id":"57dd126e.fada24","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":4,"width":0,"height":0,"passthru":false,"label":"lane 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_3","x":230,"y":260,"wires":[["e93d4721.93d618"]]},{"id":"91cd2b64.985e7","type":"ui_button","z":"236f6379.6cfb3c","name":"","group":"6a859bdf.3fba8c","order":5,"width":0,"height":0,"passthru":false,"label":"lane 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"lane_4","x":230,"y":300,"wires":[["e93d4721.93d618"]]},{"id":"e93d4721.93d618","type":"function","z":"236f6379.6cfb3c","name":"","func":"if (msg.topic == \"start\"){\n    flow.set(\"temp_start\",msg.payload)\n}\n\nif (msg.topic == \"lane_1\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_1\",msg.payload)\n    return [msg,null,null,null];\n}\n\nif (msg.topic == \"lane_2\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_2\",msg.payload)\n    return [null,msg,null,null];\n}\n\nif (msg.topic == \"lane_3\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_3\",msg.payload)\n    return [null,null,msg,null];\n}\n\nif (msg.topic == \"lane_4\"){\n    start=flow.get(\"temp_start\")\n    msg.payload = (msg.payload - start) / 1000\n    flow.set(\"temp_lane_4\",msg.payload)\n    return [null,null,null,msg];\n}\n","outputs":4,"noerr":0,"x":500,"y":200,"wires":[["92c94d36.a83968"],["8d8064b8.3595a"],["1553fed0.79fc81"],["cddc4b0b.a725"]]},{"id":"92c94d36.a83968","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 1","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":180,"wires":[]},{"id":"8d8064b8.3595a","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 2","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"1553fed0.79fc81","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 3","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"cddc4b0b.a725","type":"ui_text","z":"236f6379.6cfb3c","group":"ee89c1bd.06299","order":0,"width":0,"height":0,"name":"","label":"lane 4","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]},{"id":"69eeb6a9.3c28b8","type":"comment","z":"9276e4aa.11cc3","name":"Create tables for the database","info":"If the database needsTo be re-created \nPress buttons once","x":260,"y":260,"wires":[]},{"id":"80c35854.a51bf8","type":"ui_text_input","z":"5e186c1f.c45f14","name":"","label":"Name","tooltip":"","group":"f5148155.12b498","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"NAME","x":1090,"y":480,"wires":[["c2196135.25f83"]]},{"id":"ddc359a.f5876a8","type":"ui_text_input","z":"5e186c1f.c45f14","name":"","label":"Age","tooltip":"","group":"f5148155.12b498","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"AGE","x":1090,"y":520,"wires":[["c2196135.25f83"]]},{"id":"1e5782c2.1e5e55","type":"ui_text_input","z":"5e186c1f.c45f14","name":"","label":"Group","tooltip":"","group":"f5148155.12b498","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"GROUP","x":1090,"y":600,"wires":[["c2196135.25f83"]]},{"id":"228db8cc.c7dbc8","type":"ui_text_input","z":"5e186c1f.c45f14","name":"","label":"Sub-group","tooltip":"","group":"f5148155.12b498","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"SUBGROUP","x":1070,"y":640,"wires":[["c2196135.25f83"]]},{"id":"69019cf2.d44d94","type":"ui_button","z":"5e186c1f.c45f14","name":"","group":"f5148155.12b498","order":7,"width":"2","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"save","x":1090,"y":680,"wires":[["fa77573c.a06218","49e4b56d.1299f4"]]},{"id":"a450007c.e2f078","type":"ui_button","z":"5e186c1f.c45f14","name":"","group":"f5148155.12b498","order":10,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_NAME","payloadType":"flow","topic":"Are you sure that you want to delete Racer?","x":1090,"y":760,"wires":[["650b26f6.9d669"]]},{"id":"1074d47f.5222b4","type":"ui_text","z":"5e186c1f.c45f14","group":"f5148155.12b498","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":440,"wires":[]},{"id":"eecaafe5.40c0d8","type":"ui_button","z":"5e186c1f.c45f14","name":"","group":"f5148155.12b498","order":9,"width":"2","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"cancel","x":1080,"y":720,"wires":[["fe84cb00.6f2ee8"]]},{"id":"1fee88ef.598d0f","type":"ui_text_input","z":"5e186c1f.c45f14","name":"","label":"Car Number","tooltip":"","group":"f5148155.12b498","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"CARNUM","x":1070,"y":560,"wires":[["c2196135.25f83"]]},{"id":"c2196135.25f83","type":"function","z":"5e186c1f.c45f14","name":"temp info","func":"if (msg.topic == \"NAME\"){\n    flow.set(\"temp_NAME\",msg.payload)\n}\n\nif (msg.topic == \"AGE\"){\n    flow.set(\"temp_AGE\",msg.payload)\n}\n\nif (msg.topic == \"CARNUM\"){\n    flow.set(\"temp_CARNUM\",msg.payload)\n}\n\nif (msg.topic == \"GROUP\"){\n    flow.set(\"temp_GROUP\",msg.payload)\n}\n\nif (msg.topic == \"SUBGROUP\"){\n    flow.set(\"temp_SUBGROUP\",msg.payload)\n}\n\n\nif (msg.topic == \"save\"){\n    \n    nod = flow.get(\"newormod\")\n    \n    if (nod == \"NEW\"){\n        NAME = flow.get(\"temp_NAME\")\n    \n        AGE = flow.get(\"temp_AGE\")\n    \n        CARNUM = flow.get(\"temp_CARNUM\")\n    \n        GROUP = flow.get(\"temp_GROUP\")\n    \n        SUBGROUP = flow.get(\"temp_SUBGROUP\")\n        \n        msg.topic = 'INSERT INTO \"main\".\"RACERS\" VALUES (NULL,\"'+NAME+'\",'+AGE+','+CARNUM+',\"'+GROUP+'\",\"'+SUBGROUP+'\",0,\"<b>'+NAME+'</b>\",\"Car Number = '+CARNUM+'\");'\n\n    }\n    \n    \n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":1300,"y":480,"wires":[["c3dc7034.b315f"]]},{"id":"89cdff30.a37f28","type":"function","z":"5e186c1f.c45f14","name":"clear","func":"count = flow.get(\"temp_RACERCOUNT\")\n    \ncount = parseInt(count) + 1\n    \nflow.set(\"temp_CARNUM\",count)\n    \nRACERCOUNT = {payload:count}\n    \nmsg.payload = \"\"\n    \nflow.set(\"newormod\",\"NEW\")\n\nreturn [msg,RACERCOUNT];\n","outputs":2,"noerr":0,"x":750,"y":480,"wires":[["29789768.608498","80c35854.a51bf8","ddc359a.f5876a8"],["1fee88ef.598d0f"]]},{"id":"35f5e381.fa729c","type":"function","z":"5e186c1f.c45f14","name":"mod","func":"flow.set(\"newormod\",\"MOD\")\nflow.set(\"workingID\",msg.payload.ID)\n\nNAME = {payload:msg.payload.NAME}\n\nflow.set(\"temp_NAME\",msg.payload.NAME)\n\n\nAGE = {payload:msg.payload.AGE}\n\nflow.set(\"temp_AGE\",msg.payload.AGE)\n\n\nCARNUM = {payload:msg.payload.CARNUM}\n\nflow.set(\"temp_CARNUM\",msg.payload.CARNUM)\n\n\nGROUP = {payload:msg.payload.GROUP}\n\nflow.set(\"temp_GROUP\",msg.payload.GROUP)\n\nSUBGROUP = {payload:msg.payload.SUBGROUP}\n\nflow.set(\"temp_SUBGROUP\",msg.payload.SUBGROUP)\n\nMOD ={payload:\"Modify Racer -- \"+ msg.payload.NAME}\n\n\nreturn [MOD, NAME, AGE, CARNUM, GROUP, SUBGROUP];","outputs":6,"noerr":0,"x":750,"y":620,"wires":[["1074d47f.5222b4"],["80c35854.a51bf8"],["ddc359a.f5876a8"],["1fee88ef.598d0f"],["1e5782c2.1e5e55"],["228db8cc.c7dbc8"]]},{"id":"c17f711e.c8f928","type":"ui_list","z":"5e186c1f.c45f14","group":"2254b7f8.98c1b8","name":"","order":4,"width":"6","height":"6","lineType":"two","actionType":"click","allowHTML":true,"x":2130,"y":460,"wires":[["1c96c954.46170f"]]},{"id":"3667e386.d1550c","type":"inject","z":"5e186c1f.c45f14","name":"start text","topic":"","payload":"Add New Racer","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":700,"y":380,"wires":[["29789768.608498"]]},{"id":"29789768.608498","type":"function","z":"5e186c1f.c45f14","name":"Add New Racer","func":"flow.set(\"newormod\",\"NEW\")\n\nmsg.payload = \"Add New Racer\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["1074d47f.5222b4"]]},{"id":"c3dc7034.b315f","type":"sqlite","z":"5e186c1f.c45f14","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS INSERT","x":1470,"y":480,"wires":[["b2bba285.4d2ca"]]},{"id":"b2bba285.4d2ca","type":"function","z":"5e186c1f.c45f14","name":"SELECT","func":"\nmsg.topic = 'SELECT * FROM RACERS ORDER BY CARNUM ASC;'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":460,"wires":[["e13e2723.0463d"]]},{"id":"e13e2723.0463d","type":"sqlite","z":"5e186c1f.c45f14","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS SELECT","x":1930,"y":460,"wires":[["c17f711e.c8f928","774d300c.757358"]]},{"id":"774d300c.757358","type":"sqlite","z":"5e186c1f.c45f14","mydb":"d6eb826a.a44cd","sqlquery":"fixed","sql":"SELECT COUNT(*) FROM RACERS","name":"SELECT COUNT(*) FROM RACERS","x":2220,"y":500,"wires":[["4b5b1e7e.c16628"]]},{"id":"4b5b1e7e.c16628","type":"function","z":"5e186c1f.c45f14","name":"count","func":"msg.payload = msg.payload[0][\"COUNT(*)\"]\n\nRACERCOUNT = msg.payload.toString()\n\nflow.set(\"temp_RACERCOUNT\",RACERCOUNT)\n\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":500,"wires":[["a8dd185.e9d9268","8196168f.7b773"]]},{"id":"a8dd185.e9d9268","type":"ui_text","z":"5e186c1f.c45f14","group":"fd3c7523.b6fea8","order":0,"width":0,"height":0,"name":"","label":"Number of racers","format":"{{msg.payload}}","layout":"row-center","x":2610,"y":480,"wires":[]},{"id":"fa77573c.a06218","type":"link out","z":"5e186c1f.c45f14","name":"save","links":["e8861cfa.70b7f","a9cca0fe.4909d8"],"x":1195,"y":680,"wires":[]},{"id":"50ba2cf3.7e3f44","type":"inject","z":"5e186c1f.c45f14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":400,"wires":[["b2bba285.4d2ca"]]},{"id":"1c96c954.46170f","type":"link out","z":"5e186c1f.c45f14","name":"list","links":["8c44e2b2.8e8b8"],"x":2235,"y":460,"wires":[]},{"id":"8c44e2b2.8e8b8","type":"link in","z":"5e186c1f.c45f14","name":"mod","links":["1c96c954.46170f"],"x":655,"y":620,"wires":[["35f5e381.fa729c"]]},{"id":"cf1ebc53.9ae2a","type":"catch","z":"5e186c1f.c45f14","name":"","scope":["c3dc7034.b315f"],"x":570,"y":860,"wires":[["25f7b014.032f58"]]},{"id":"51312c68.42b26c","type":"ui_toast","z":"5e186c1f.c45f14","position":"top left","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":870,"y":860,"wires":[]},{"id":"fe84cb00.6f2ee8","type":"link out","z":"5e186c1f.c45f14","name":"cancel","links":["d9209677.dfef6"],"x":1195,"y":720,"wires":[]},{"id":"25f7b014.032f58","type":"function","z":"5e186c1f.c45f14","name":"","func":"msg.topic = \"Make sure your inputs are unique\"\nmsg.payload = \"Name and Car Number\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["51312c68.42b26c"]]},{"id":"8196168f.7b773","type":"link out","z":"5e186c1f.c45f14","name":"count","links":["d9209677.dfef6"],"x":2535,"y":520,"wires":[]},{"id":"d9209677.dfef6","type":"link in","z":"5e186c1f.c45f14","name":"clear","links":["8196168f.7b773","826a541b.112c08","fe84cb00.6f2ee8"],"x":655,"y":480,"wires":[["89cdff30.a37f28"]]},{"id":"49e4b56d.1299f4","type":"function","z":"5e186c1f.c45f14","name":"new or mod","func":"nom=flow.get(\"newormod\")\n\nif (nom == \"NEW\"){\n    return [msg,null];\n}\nif (nom == \"MOD\"){\n   \n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":1310,"y":680,"wires":[["c2196135.25f83"],["4bf94769.19cbf8"]]},{"id":"4bf94769.19cbf8","type":"function","z":"5e186c1f.c45f14","name":"UPDATE","func":"    NAME = flow.get(\"temp_NAME\")\n    \n    AGE = flow.get(\"temp_AGE\")\n    \n    CARNUM = flow.get(\"temp_CARNUM\")\n    \n    GROUP = flow.get(\"temp_GROUP\")\n    \n    SUBGROUP =flow.get(\"temp_SUBGROUP\")\n    \n    ID = flow.get(\"workingID\")\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"NAME\"=\"'+NAME+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"AGE\"=\"'+AGE+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"CARNUM\"=\"'+CARNUM+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"GROUP\"=\"'+GROUP+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"SUBGROUP\"=\"'+SUBGROUP+'\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n\n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"title\"=\"<b>'+NAME+'</b>\" WHERE \"_rowid_\"='+ID+';'\n    node.send(msg);\n    \n    msg.topic = 'UPDATE \"main\".\"RACERS\" SET  \"description\"=\"Car Number = '+CARNUM+'\" WHERE \"_rowid_\"='+ID+';'\n    \n    \n    \n    \n  \n    flow.set(\"newormod\",\"NEW\")\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":680,"wires":[["4cafd1ef.422df8","826a541b.112c08"]]},{"id":"4cafd1ef.422df8","type":"sqlite","z":"5e186c1f.c45f14","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS UPDATE","x":1710,"y":680,"wires":[["12342215.d298a6"]]},{"id":"826a541b.112c08","type":"link out","z":"5e186c1f.c45f14","name":"update","links":["d9209677.dfef6"],"x":1595,"y":660,"wires":[]},{"id":"d1b7d1cb.4e71d","type":"function","z":"5e186c1f.c45f14","name":"DELETE","func":"if(msg.payload ==\"OK\"){\n    ID = flow.get(\"workingID\")\n    \n    msg.topic = 'DELETE FROM \"main\".\"RACERS\" WHERE _rowid_ IN ('+ID+');'\n    \n    flow.set(\"newormod\",\"NEW\")\n    return [msg,null];\n}\n\nif(msg.payload ==\"Cancel\"){\n    msg.payload = \"1\"\n    msg.topic = \"cancel\"\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":1520,"y":760,"wires":[["5d068be3.46bfb4"],[]]},{"id":"5d068be3.46bfb4","type":"sqlite","z":"5e186c1f.c45f14","mydb":"d6eb826a.a44cd","sqlquery":"msg.topic","sql":"","name":"RACERS DELETE ","x":1730,"y":760,"wires":[["ec871b0.24633e8"]]},{"id":"b4fab243.f385b8","type":"ui_toast","z":"5e186c1f.c45f14","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":1370,"y":760,"wires":[["d1b7d1cb.4e71d"]]},{"id":"650b26f6.9d669","type":"function","z":"5e186c1f.c45f14","name":"","func":"if (flow.get(\"newormod\")==\"MOD\"){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1230,"y":760,"wires":[["b4fab243.f385b8"]]},{"id":"12342215.d298a6","type":"link out","z":"5e186c1f.c45f14","name":"update racer","links":["8911ec52.1d2fe"],"x":1835,"y":680,"wires":[]},{"id":"8911ec52.1d2fe","type":"link in","z":"5e186c1f.c45f14","name":"","links":["12342215.d298a6","ec871b0.24633e8"],"x":1515,"y":440,"wires":[["b2bba285.4d2ca"]]},{"id":"ec871b0.24633e8","type":"link out","z":"5e186c1f.c45f14","name":"Delete racer","links":["8911ec52.1d2fe"],"x":1875,"y":760,"wires":[]}]